
<div id="AboutUs" ng-controller="AboutCtrl">
<px-card>
 <h2>About Us</h2>
<div class="container">
    <div class="row">
        <p>Our innovative combination hardware-software solution permits users to install a weather-resistant Raspberry Pi box that monitors a series of data, including readings from an actual solar panel, the current pressure, humidity, temperature, and luminosity, and an anemometer to measure wind speed.  </p></p>
        <p>The system was built using Predix Cloud Foundry. The data is transmitted over a custom OPC-UA server implementation through Predix Machine to a cloud-based PostgreSQL database that is reviewed by a Python-based analytics system, leading to new analyzed data in an additional Predix-Postgres database that is gathered and sent to our AngularJS user-interface through a RESTful web service. The development team was honored by Ecomagination, GE's environmental team;  The team won <i>Most Innovative</i> and <i>Second Place Overall</i>.  </p>

    </div>
    <div clas="row">
        <img src="../images/IMG_1845.jpg" alt="Rooftop">
    </div>

    <div clas="row">
        <img src="../images/IMG_1849.jpg" alt="Awards">
        <p id="awards-paragraph">Mr. John Hurley, <i>Faculty Advisor</i></p>
        <p id="awards-paragraph">Rowan Edge, Predix Machine</p>
        <p id="awards-paragraph">Andrew Ahn, Frontend</p>
        <p id="awards-paragraph">Steven Hewitt, Predix Machine</p>
        <p id="awards-paragraph">Luis Fisher, Analytics</p>
        <p id="awards-paragraph">Vrushank Shah, Frontend</p>
        <p id="awards-paragraph">Milin Shah, </p>
        <h3 id="awards-paragraph">From left to right</h3>
    </div>




</div>
</px-card>

</div>
