<div id="Solar" ng-controller="SolarCtrl">
<script>
    // WRITE THE VALIDATION SCRIPT IN THE HEAD TAG.
    function isNumber(evt) {
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode
        if (iKeyCode != 46 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
            return false;

        return true;
    }
</script></div>
<px-card>
    <h2>Energy consumption</h2>

    <px-chart tooltip-type="condensed" series-events-width="1">

        <px-chart-controls data-controls></px-chart-controls>
        <px-chart-yaxis title='{"text": "Left Axis"}' id="firstAxis" offset="10"></px-chart-yaxis>
        <px-chart-yaxis title='{"text": "Right Axis"}' id="anotherAxis" opposite="true" offset="10"></px-chart-yaxis>
        <px-chart-series-line id="et-consumption" axis-id="firstAxis" data="{{etConsumption}}">
        </px-chart-series-line>
<!--
        <px-chart-series-line id="without demand cost" axis-id="firstAxis" data="{{solarConsuptionWithoutDemandCost}}">
        </px-chart-series-line>
        <px-chart-series-line id="with demand cost" axis-id="anotherAxis" data="{{solarConsuptionWithDemandCost}}">
        </px-chart-series-line>
-->
    </px-chart>
</px-card>
<px-card>
    <h2>Solar energy generation</h2>
    <div>
        <label>Solar panel size (m^2):</label> <input type="text" ng-model="value" name="solarInput2" onkeypress="javascript:return isNumber(event)" /> <!--ng-change="functionCall()"-->
        <button ng-click="functionSolarWithInputChange1()" name="Submit" >Submit</button>
    </div>
    <px-chart tooltip-type="condensed" series-events-width="1">
        <px-chart-controls data-controls></px-chart-controls>
        <px-chart-yaxis title='{"text": "Left Axis"}' id="firstAxis" offset="10"></px-chart-yaxis>
        <px-chart-yaxis title='{"text": "Right Axis"}' id="anotherAxis" opposite="true" offset="10"></px-chart-yaxis>
        <px-chart-series-line id="Energy watt(s)" axis-id="firstAxis" data="{{solarCalcResult1}}">
        </px-chart-series-line>
<!--
        <px-chart-series-line id="without demand cost2" axis-id="anotherAxis" data="{{solarConsumptionMinusGeneration}}">
        </px-chart-series-line>
        <px-chart-series-line id="potential energy" axis-id="anotherAxis" data="{{solarConsumptionMinusGeneration}}">
        </px-chart-series-line>

-->
    </px-chart>


</px-card>
<px-card>
    <h2>Cost impact</h2>
    <div>
        <label>Solar panel size (m^2):</label> <input type="text" ng-model="value" name="solarInput1" onkeypress="javascript:return isNumber(event)" /> <!--ng-change="functionCall()"-->
        <button ng-click="functionSolarWithInputChange1(value, costWithoutDemand)" name="Submit" >Submit</button>
    </div>
    <px-chart tooltip-type="condensed" series-events-width="1">
        <px-chart-controls data-controls></px-chart-controls>
        <px-chart-yaxis title='{"text": "Left Axis"}' id="firstAxis" offset="10"></px-chart-yaxis>
        <px-chart-yaxis title='{"text": "Right Axis"}' id="anotherAxis" opposite="true" offset="10"></px-chart-yaxis>
        <px-chart-series-line id="Cost with demand" axis-id="firstAxis" data="{{costWithDemand}}">
        </px-chart-series-line>
        <px-chart-series-line id="Cost with solar" axis-id="anotherAxis" data="{{costWithoutDemand}}">
        </px-chart-series-line>

    </px-chart>


</px-card>
</div>
